table{
    width: 150px;
    height: 300px;
    text-align: center;
    border-radius: 18px;
}    
td{
    border: 0px;
}
img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.descripcion{
    background-color: white;
}
.datos{
    color: black;
    background-color: white;
}
.links{
    background-color: #b7ebcd;
}

table:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0 , 0 , 0 , 0.6 ) ;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}
h5{
    color: #695cfe;
}
.scroll{
    height:50px;
    width:350px;
    scroll-snap-type: y mandatory;        
    overflow: auto;
    border-radius: 10px;

}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background:  white;
}
::-webkit-scrollbar-thumb{
    background: #695CFE;
    border-radius: .5rem;
}
