.form-info{
    display: flex;
    flex-direction: column;
    width: 950px;
    margin: 20px;
    border-radius: 20px;
}

.info{
    display: flex;
    flex-direction: row;
}

.actions{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-evenly;
}

.info img{
    margin: 20px;
    width:500px;
    border-radius: 20px;
}

.info form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

a{
    text-decoration: none;
    color: white;
}

input[type="text"]{
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.create-button{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(to right, #7DCEA0, #67d21a);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.create-button:hover{
    background-image: linear-gradient(to right, #67d21a, #7DCEA0);
    transform: scale(1.05);
}

.edit-button{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(to right, #3395eb, #1a0079);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.edit-button:hover{
    background-image: linear-gradient(to right, #1a0079, #3395eb);
    transform: scale(1.05);
}

.delete-button{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(to right, #f26046, #FF416C);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.delete-button:hover{
    background-image: linear-gradient(to right, #FF416C, #f26046);
    transform: scale(1.05);
}

.parrafo{
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}