.main-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;;
}

/* Contenedores Principales */
.titulo{
    background-color: #ffffffce;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 500;
    color: black;
    padding: 12px 60px;
    width: 70%;
    border-radius: 20px;
}

.contenedor1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
    width: 100%;
}

.contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
    width: 100%;
}

.contenedor3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    margin-top: 20px;
}

.carta-stats{
    width: 50%;
    height: 80%;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
}


.valores-optimos{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: white;    
    border-radius: 20px;
    margin: 10px;
}

.valores-actuales{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

.controls{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

.seccion-tabla{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.tablas{
    width: 50%;
    height: 100%;
}

th{
    width: 400px;
}

.graficas{
    width: 50%;
    height: 100%;

}

.valor-optimo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.btn{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(to right, #7DCEA0, #67d21a);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
}
.btn:hover{
    background-image: linear-gradient(to right, #67d21a, #7DCEA0);
    transform: scale(1.05);
}

.edit-button{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 15px;
    height: 40px;
    width: 50%;
    margin:10px;
    background-image: linear-gradient(to right, #3395eb, #1a0079);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.edit-button:hover{
    background-image: linear-gradient(to right, #1a0079, #3395eb);
    transform: scale(1.05);
}

.next-button{
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 200px;
    background-image: linear-gradient(to right, #ebd333, #a2a406);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.next-button:hover{
    background-image: linear-gradient(to right, #797b08, #ebd333);
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: white;
}



.carta-stats:hover,
.valores-actuales:hover,
.valores-optimos:hover,
.controls:hover,
.seccion-humedad:hover,
.titulo:hover{
    -webkit-box-shadow: 21px 17px 36px 12px rgba(0,0,0,0.23);
    -moz-box-shadow: 21px 17px 36px 12px rgba(0,0,0,0.23);
    box-shadow: 21px 17px 36px 12px rgba(0,0,0,0.23);
    transition: all 0.5s ease;
}


th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center; 
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.titulo-tabla{
    display: flex; /* Utilizamos flexbox en el contenedor */
    
}




