.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* Contenedores Principales */
.contenedor1{
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 90%;
}

.contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86.5%;
    margin-left: 49px;
    margin-top: 20px;
}

.contenedor3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 20px;
}

/* Estilos del contenedor general */
.general-seccion1{
    width: 25%;
    height: 100%;
}
.general-seccion2{
    width: 25%;
    height: 100%;
}

.general-seccion3{
    width: 25%;
    height: 100%;
}
.general-seccion4{
    width: 25%;
    height: 100%;
}

.carta-stats{
    width: 75%;
    height: 45%;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
}



.container-datos{
    display: flex;
    flex-direction: row;
    height: 310px;
}

.valores-actuales{
    width: 30%;
    height: 295px;
    background-color: white;
    margin:20px;
}

.valores-optimos{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 295px;
    background-color: white;
    margin: 20px;
}

.controls{
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 295px;
    background-color: white;
    margin: 20px;
}

.tables{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.texto-valores{
    font-size: 20px;
    color: black;
}

.btn{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(to right, #7DCEA0, #67d21a);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
}
.btn:hover{
    background-image: linear-gradient(to right, #67d21a, #7DCEA0);
    transform: scale(1.05);
}

.edit-button{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 15px;
    height: 40px;
    width: 50%;
    margin:10px;
    background-image: linear-gradient(to right, #3395eb, #1a0079);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.edit-button:hover{
    background-image: linear-gradient(to right, #1a0079, #3395eb);
    transform: scale(1.05);
}

.next-button{
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 200px;
    background-image: linear-gradient(to right, #ebd333, #a2a406);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.next-button:hover{
    background-image: linear-gradient(to right, #797b08, #ebd333);
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: white;
}



.carta-stats:hover,
.valores-actuales:hover,
.valores-optimos:hover,
.controls:hover,
.seccion-humedad:hover{
    -webkit-box-shadow: 21px 17px 36px 12px rgba(0,0,0,0.23);
    -moz-box-shadow: 21px 17px 36px 12px rgba(0,0,0,0.23);
    box-shadow: 21px 17px 36px 12px rgba(0,0,0,0.23);
    transition: all 0.5s ease;
}


table {
    width: 500px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center; 
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.titulo-tabla{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.seccion-humedad{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 295px;
    background-color: white;
    margin: 20px;
}




