.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.group-tile{
    display: flex;
    flex-direction: row;
}
.lote-tile{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:20px;
    border:2px solid  black;
}

.lote-tile:hover{
    -webkit-box-shadow: 21px 17px 36px 12px rgba(0,0,0,0.23);
    -moz-box-shadow: 21px 17px 36px 12px rgba(0,0,0,0.23);
    box-shadow: 21px 17px 36px 12px rgba(0,0,0,0.23);
    transition: all 0.5s ease;
}

.img-tile{
    width: 380px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.tile-link{
    text-decoration: none;
    color: black;
}

.clearfix {
    clear: both;
}