body {
    background-image: url('../assets/img/background_login.jpg');
    background-size: cover;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    animation: fade 1s;
    background-image: linear-gradient(to bottom, #ffffffce, rgba(255, 255, 255, 0.808));
}

.container:hover {
    transform: translateY(-5px);
}

.side-l{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 50%;
    border-right: 5px solid rgba(0, 0, 0, 0.3);
}

.side-r{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.text{
    font-size: 30px;
    font-weight: 500;
    color: black;
    padding: 12px 60px;
}

h1 {
    color: #000000;
    font-size: 32px;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

h1:hover {
    color: #0cc42d;
    transform: scale(1.05);
}

input[type="text"],
input[type="password"],
input[type="button"] {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="button"]:focus
 {
    background-color: lightgray;
    outline: none;
    transform: scale(1.05);
}

input[type="submit"]{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(to right, #0cc42d, #000000);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover {
    background-image: linear-gradient(to right, #000000, #0cc42d);
    animation: pulse 1s infinite;
    transform: scale(1.05);
}

.logo-registro{
    width: 290px;
    height: 289px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 16px;
    transition: color 0.3s ease;
}
